<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h3>Greetings, <%= @passenger.name %></h1>
		<p>
			You have successfully booked a flight!
		</p>
		<p>Thanks for booking with us and have a great day!</p>
	</body>
</html>
